.vscode/
*.anno.json
*.fir
project/
target/
.metals/
.vscode/
.bloop/
.bsp/
test_run_dir/
*.f
.scala-build/
bazel-bin
bazel-out
bazel-testlogs
bazel-RegFileStudy
.bazelbsp
projectview.bazelproject
user.bazelrc
external/
